.about-main{
    padding-bottom: 20%;
    /*background:*/
    /*    radial-gradient(circle at 20% 15%, rgba(100, 108, 255, 0.18), transparent 55%),*/
    /*    radial-gradient(circle at 80% 30%, rgba(19, 167, 224, 0.14), transparent 55%),*/
    /*    radial-gradient(circle at 50% 85%, rgba(0, 0, 0, 0.06), transparent 60%),*/
    /*    linear-gradient(180deg, #ffffff 0%, #f6f7ff 40%, #ffffff 100%);*/
    /*background-attachment: fixed;*/
    background:
        radial-gradient(1200px 800px at 10% 30%, rgba(255, 255, 255, 0.53), transparent 60%),
        radial-gradient(1200px 800px at 80% 90%, rgba(255, 255, 255, 0.18), transparent 60%),
        #0f1115;
}


.about-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px 28px;

    display: grid;
    grid-template-columns: 1.15fr 1fr;
    gap: clamp(22px, 3vw, 60px);
    align-items: center;

}

.about-media {
    position: relative;
    min-height: 320px;
    display: grid;
    place-items: center;
}

.frame {
    position: absolute;
    left: clamp(-14px, -1.2vw, -26px);
    bottom: clamp(-14px, -1.2vw, -26px);

    width: min(92%, 560px);
    height: clamp(210px, 22vw, 290px);

    border: 4px solid #caa10a;
    border-radius: 2px;
    z-index: 0;
}

.logo-card {
    width: min(92%, 560px);
    height: clamp(210px, 22vw, 290px);

    background: #0d0d0f;
    border-radius: 2px;
    overflow: hidden;

    /*display: grid;*/
    /*place-items: center;*/

    box-shadow: 0 18px 50px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.logo-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    padding: clamp(10px, 1vw, 18px);
    background: #646469;
    
}

.about-text-wrapper {
    max-width: 520px;
}

.about-text-wrapper h1 {
    margin: 0 0 16px;
    font-size: clamp(34px, 3vw, 44px);
    font-weight: 950;
    letter-spacing: -0.6px;
    color: #ffffff;
}

.about-text-wrapper p {
    margin: 0 0 14px;
    line-height: 1.75;
    font-size: 15px;
    color: rgba(241, 236, 236, 0.78);
}

.about-text-wrapper strong {
    font-weight: 900;
}

.cta {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.book-btn {
    border: 0;
    background: #1355d5;
    color: #fff;
    font-weight: 900;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.15s ease, background 0.15s ease;
}

.book-btn:hover {
    transform: translateY(-1px);
    background: #13a7e0;
}

@media (max-width: 980px) {
    .about-wrapper {
        grid-template-columns: 1fr;
        padding: 34px 18px;
    }

    .about-text-wrapper {
        max-width: 100%;
    }

    .frame {
        left: -14px;
        bottom: -14px;
    }
}
