/* General Navbar Styling */
.navbar {
    position: fixed;
    display: flex;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 30px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo a {
    font-size: 24px;
    font-weight: bold;

    color: #c6b22e;
    text-decoration: none;
}

/* Desktop Navigation */
.nav-links {
    list-style: none;

    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;

    font-size: 18px;
    transition: 0.3s;
    padding: 5px 10px;
}

.nav-links a:hover, .nav-links a.active {
    color: #c6b22e;
    border-bottom: 2px solid  #c6b22e;
}

/* Mobile Menu Button */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 13%;
}

/* Mobile Navigation */
.mobile-menu {
    display: none;
    flex-direction: column;
    background: #222;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.mobile-menu.open {
    display: flex;
    z-index: 9;
}

.mobile-menu li {
    list-style: none;
    padding: 10px 0;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.btn-wrapper{
    display: flex;
    gap: 15px;
}
.lang-btn{
    color: white;
}
.lang-btn:nth-child(2){
    padding-left: 15px;
    border-left: 1px solid white;
}
.lang-btn:hover{
    color: #aa881a;
}
/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .logo{
        margin-right: 25%;
    }
    .menu-toggle {
        display: block;
    }
}
