<nav class="navbar">
    <div class="btn-wrapper">
        <button class="lang-btn"  (click)="changeLang('en')" >EN</button>
        <button class="lang-btn" (click)="changeLang('bg')">BG</button>
    </div>
    <div class="logo">
        <a routerLink="/"><img class="logo" src="logo.png" alt="logo"/></a>
    </div>

    <!-- Desktop Navigation -->
    <ul class="nav-links">
        <li><a routerLink="/">{{ i18n.t('home') }}</a></li>
        <li><a routerLink="/about">{{ i18n.t('about') }}</a></li>
    </ul>

    <!-- Mobile Menu Button -->
    <div class="menu-toggle" (click)="toggleMenu()">
        ☰
    </div>

    <!-- Mobile Dropdown -->
    <ul class="mobile-menu" [ngClass]="{ 'open': isMenuOpen }">
        <li><a routerLink="/" routerLinkActive="active" (click)="toggleMenu()">{{ i18n.t('home') }}</a></li>
        <li><a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">{{ i18n.t('about') }}</a></li>
    </ul>
</nav>
