.bg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    /*background: #E6D875;*/
    /*background: linear-gradient(180deg, rgba(230, 216, 117, 1) 0%, rgba(207, 207, 176, 1) 100%);*/
    /*background: #D1D1D1;*/
    /*background: linear-gradient(0deg, rgba(209, 209, 209, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(209, 209, 209, 1) 100%);*/
    background:
        radial-gradient(1200px 800px at 40% 10%, rgba(255, 255, 255, 0.53), transparent 60%),
        radial-gradient(1200px 800px at 80% 90%, rgba(255, 255, 255, 0.18), transparent 60%),
        #0f1115;
}

.img {
    width: 30%;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.8));
}

.btn {
    background-color: #1355d5;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    transition: 0.3s ease-in-out;

}

.btn:hover {
    background-color: #13a7e0;
    transition: 0.3s ease-in-out;
}

.carousel-strip {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    padding: 4rem 0;
}

.carousel-track {
    display: flex;
    width: fit-content;
    animation: scroll-left 15s linear infinite;
}

.our-team-title {
    text-align: center;
    color: #d0cccc;
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.carousel-item img {
    height: 180px;
    width: 180px;
    border-radius: 0.5rem;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
