<div class="bg-container">
    <img class="img" src="/lgoo.png" alt="">
    <a href="/book-now">
        <button class="btn">Book Now</button>
    </a>
    <div class="carousel-strip">
        <h1 class="our-team-title">Our Team</h1>
        <div class="carousel-track">
            <div class="carousel-item" *ngFor="let img of images">
                <img ngSrc='{{img}}' width="100" height="100" alt="Image" />
            </div>
            <div class="carousel-item" *ngFor="let img of images">
                <img ngSrc='{{img}}' width="100" height="100" alt="Image" />

            </div>
        </div>
    </div>
</div>
