.bg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    background: #E6D875;
    background: linear-gradient(180deg, rgba(230, 216, 117, 1) 0%, rgba(207, 207, 176, 1) 100%);
}

.img {
    width: 30%;
    margin-bottom: 20px;
}

.btn {
    background-color: #1355d5;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    transition: 0.3s ease-in-out;

}

.btn:hover {
    background-color: #13a7e0;
    transition: 0.3s ease-in-out;
}

.carousel-strip {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    padding: 4rem 0;
}

.carousel-track {
    display: flex;
    width: fit-content;
    animation: scroll-left 10s linear infinite;
}

.our-team-title {
    text-align: center;
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.carousel-item img {
    height: 180px;
    width: 180px;
    border-radius: 0.5rem;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
