<div class="form-container">
    <h2 class="title">RESERVE NOW</h2>
    <div class="selected-slot">
        📅 <strong>{{ date }} от {{ time }}</strong>
    </div>

    <form [formGroup]="reservationForm" (ngSubmit)="submitForm()">
        <mat-form-field appearance="fill">
            <input matInput formControlName="first_name" placeholder="Име..." />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput formControlName="last_name" placeholder="Фамилия..." />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput formControlName="email" placeholder="Имейл адрес..." />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput formControlName="phone" placeholder="Телефон..." />
        </mat-form-field>

        <div class="form-actions">
            <button mat-button color="warn" type="button" (click)="cancel()">❌ Отказ</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="reservationForm.invalid">
                ✅ Потвърди
            </button>
        </div>
    </form>
</div>
