<h2 mat-dialog-title>Appointment Details</h2>
<mat-dialog-content>
    <p><strong>Name:</strong> {{ appointment?.first_name }} {{ appointment?.last_name }}</p>
    <p><strong>Email:</strong> {{ appointment?.email }}</p>
    <p><strong>Phone:</strong> {{ appointment?.phone}}</p>
    <p><strong>Date:</strong> {{ appointment?.date_time | date:'dd.MM.yyyy' }}</p>
    <p><strong>Hour:</strong> {{ appointment?.date_time | date:'HH:mm' }}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
